body {
    background-color: skyblue;
}

header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    height: 80px;
    
}

h1 {
    color: darkblue;
    background-color: silver;
    display: flex;
    padding-left: 100px;
    padding-right: 20px;
    align-items: center;
    font-size: 200%;
    margin-top: 5px;
    margin-bottom: 5px;

}

nav {
    display: flex;
    justify-content: right;
    padding-right: 75px;
    padding-top: 10px;
    margin: 2px;
}

nav li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    padding: 7px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
     
}
nav a {
    color: silver;
}

div h2 {
    display: inline-block;
    position: relative;
    bottom: 75px;
    left: 1650px;
    background: silver;
    color: darkblue;
    font-size: 250%;
    padding: 10px;     
}

#profile_picture {
    display: flex;
    max-width: 300px;
    position: absolute;
    left: 1400px;
    top: 81px;

}

main {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 300%;
    margin-left: 100px;
    float: left;
    color: darkblue;
    border-right: 3px solid darkblue;
    padding-bottom: 50px;   
}

aside span {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: right;
    
}

#about_me {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 150%;
    line-height: 1.5;
    max-height: fit-content;
   
}

aside p {
    display: flex;
    flex-wrap: wrap;

}

div img {
    display: flex;
    height: 200px;
    width: 100%;
}


#work_section {
    display: flex;
    position: relative;
    top: 50px;
    left: 18px;
    max-height: fit-content;
    padding-bottom: 200px;
}

#work h2{
    font-size: 100%;
    margin-bottom: 700px;
}

#first_work {
    position: absolute;
    left: 400px;
    top: 600px;
    border: 5px solid darkblue;
}

#second_work {
   position: absolute;
   left: 400px;
   top: 850px;
   max-width: 425px;
   max-height: 220px;
   border: 5px solid darkblue; 
}

#third_work {
    position: absolute;
    left: 900px;
    top: 850px;
    max-width: 425px;
    max-height: 220px;
    border: 5px solid darkblue;
}

#fourth_work {
    position: absolute;
    left: 400px;
    top: 1100px;
    max-width: 425px;
    max-height: 220px;
    border: 5px solid darkblue;
}

#fifth_work {
    position: absolute;
    left: 900px;
    top: 1100px;
    max-width: 425px;
    max-height: 220px;
    border: 5px solid darkblue;
}

#work img {
    filter: saturate(0);
}

#work img:hover {
    filter: saturate(1);
}

#first_h2 {
    position: absolute;
    left: 0px;
    top: 120px;
    z-index: 1;
    padding: 20px;
    padding-bottom: 40px;
    
}

.other_h2 {
    position: absolute;
    left: 0px;
    top: 130px;
    z-index: 1;
    padding: 20px;
    padding-bottom: 30px;
}

.h2_title {
    display: flex;
    flex-wrap: wrap;
    font-size: 75%;
}

footer {
    padding-top: 100px;
    position: relative;
    right: 37px;
    display: flex;
}

footer h2 {
    margin-right: 5px;
}

.footer_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    
}

.footer_buttons a {
    padding: 10px;
    color: darkblue;
    font-size: 150%;
    position: relative;
    left: 50px;
    top: 40px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media (min-width: 768px) and (max-width: 1024px){
}